<!DOCTYPE html>
<html lang="en">

<center>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dream Team Managment</title>
  <link rel="stylesheet" type="text/css" href="/CSS/jass.css">
  <link rel="stylesheet" href="./CSS/styles.css">

</head>

<body>
  <div class="flex-column justify-space-around">
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
     <p style="text-align:center;">Dream Team Managment</p>
    </h1>
    <nav>
      <p style="text-align:left;">
      <a href="/"><button class="btn" id="logout">Logout</button></a>
      </p>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
    
      
  </footer>
  </div>


 
</body>

</html>
</center>