<div class="col-auto">
  <h2>Sales</h2>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Meet the Team:</h3>

    <div class="col-md-6 project-list">
      <h3>Department Manager</h3>
      <div class="row mb-2">
        <div class="col-md-8">
          <h4 class="text-align:center">Tony Stark</h4>
        </div>
        <div class="col-md-4">
          {{!-- <button class="btn btn-sm btn-danger" data-id="{{project-id}}">DELETE</button> --}}
        </div>
      </div>
    </div>

    <div class="col-md-6 project-list text-align:center">
      <h3 class="">Employee Name</h3>
      <div class="row mb-2">
        <div class="col-md-8">
          <h4></h4>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>










  </div>