<div class="col-auto">
  <h1>Sales</h1>
</div>

<div class="row mt-4" id="containerone">
  <div class="col-md-6">
    <h2>Meet the Team:</h2>

    <div class="col-md-6 project-list">
      <h3>Department Manager</h3>
      <div class="row mb-2">
        <div class="col-md-8">
          <h4 class="text-align:center">Bruce Wayne</h4>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>

    <div class="col-md-6 project-list text-align:center">
      <h3 class="">Employees</h3>
      <div class="row mb-2">
        <div class="col-md-8">
          <h4>Clark Kent</h4>
          <p>Salesman</p>
          <p>Make sales and submit sales reports</p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <div class="col">
      <a href="/addemployee"><button id="submitbtn">Add new employee</button></a>
    </div>










  </div>
  </div>