<div class="col" id="homepage">
  <a href="/createdepartment"><button id="newdepartmentBtn">Add New Department</button></a>
</div>
<br>
<br>
{{#each departments}}
<div class="col">
  <p>
    <a href="/new/{{department.name}}"></a>
  </p>


</div>
{{/each}}