 <div class="col" id="homepage">
      <a href="/createdepartment" class="depart" ><button>Add New Department</button></a>
    </div>
    <br>
    <br>
  
    <div class="col">
      <p>
        <a href="/department">Sales</a>
      </p>
      
  </div>