 <div class="col" id="homepage">
      <a href="./department.handlebars" class="depart" ><button>Add New Department</button></a>
    </div>
    <br>
    <br>
    {{#each departments | department |}}
    <div class="col">
      <p>
        <a href="/new/{{department.name}}"></a>
      </p>
      
  </div>
  