<script src="./JSS/index.js"></script>
<div class="col" id="homepage">
  <button id="newdepartmentBtn">Add New Department</button>
</div>
<br>
<br>
{{#each departments}}
<div class="col">
  <p>
    <a href="/new/{{department.name}}"></a>
  </p>


</div>
{{/each}}