<br>
<br>
<center>
<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login" class = 'email'>Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="loginBtn">Login</button>
  </div>
</form>

<br>
<br>

<h3>Sign Up</h3>

<form class="form signup-form">
  <div class="form-group">
    <label for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="signupBtn">Signup</button>
  </div>
</form>



<script src="./JSS/index.js"></script>
</center>