<form class="newdept">
  <div class="form-group">
    <label for="DepartmentName" class="depname">Department Name:</label>
    <input type="text" class="form-control" id="DepartmentName" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="ManagerName">Manager Name:</label>
    <input type="text" class="form-control" id="ManagerName" placeholder="">
  </div>
  <br>
  <div class="form-group">
    <label for="EmployeeName">Employee Name:</label>
    <input type="text" class="form-control" id="EmployeeName" placeholder="">
  </div>
  <br>
  <label for="EmployeeID"> Employee Role:</label>
    <input type="text" class="form-control" id="EmployeeROLE" placeholder="">
  <br>
  <div class="form-group">
    <br>
    <label for="EmployeeName">Job Description:</label>
    <input type="text" class="form-control" id="JobDescription" placeholder="">
  </div>
  <br>
  <div class="col">
  <a href="/secondhomepage"><button id="newdepartmentBtn">Submit</button></a>
    </div>
</form>